
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


*{
      font-family: 'Roboto', sans-serif;
}

.container{
    /*background-color: red;*/
    width: fit-content;
    margin: 100px auto;
    padding: 20px;
}

.titles{
    /*background-color: yellow;*/
    /*width: fit-content;*/
    text-align: center;
}

form{
    /*background-color: cornflowerblue;*/
}

#amount_input{
    width: 50.5%;
}

#name_input{
  width: 90%;
  margin-bottom: 15px;
  /*display: inline-block;*/
}

#date_input{
    margin-left: 10px;
    width: 30%;
}

#add_Expenses{
    margin: 20px;
    margin-left: 40%;
    width: 150px;
    height: 50px;
}

table{
    /*background-color: yellow;*/
    width: 100%;
    border-collapse: collapse;
}

.header {
    border:1px solid gray;
    margin: 0;
    background-color: lightgray;
}

th{
    /*background-color: gray;*/
    border: 1px solid gray;
}

.btnHeaderCell{
    width: 100px;
}

.del{
    margin-right: 100%;
}
.resultRows{
    background: lightgray;
    color: black;

}

