
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


*{
      font-family: 'Roboto', sans-serif;
      box-sizing: border-box;
}

body{
    background-color: #eae3dc;
}

h1{
    /* background-color: yellow; */

}

h4{
    /* background-color: purple; */
    margin-top: -15px
}



form{
    /* background-color: red; */
    width: 500px;
    text-align: center;
    margin: 0 auto;
}


button{
    background-color: #7798c1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-budget{
    height: 30px;
    width: 60px;
}

input{
    height: 35px;
    padding-left: 10px;
    background-color: #F6F6F6;
    border: none;
    border-radius: 8px;
}

input:focus{
    background-color: white;
    box-shadow: 1px 0px 3px 2px #e3e3e3;
    outline: none;
}

.container{
    background-color: rgb(255, 255, 255);
    width: 600px;
    margin: 100px auto;
    padding: 20px;
    /* border: 4px solid #8381b3; */
    border-radius: 10px;
    box-shadow: 2px 2px 4px #bababa;
}

.titles{
    /*background-color: yellow;*/
    /*width: fit-content;*/
    text-align: center;
}

form{
    /*background-color: cornflowerblue;*/
}

#amount_input{
    width: 56.5%;
    border-radius: 0px 8px 8px 0px;
}

#name_input{
  width: 90%;
  margin-bottom: 15px;
  /*display: inline-block;*/
}

#date_input{
    border-radius: 8px 0 0 8px;
    width: 32%;
}

.budgetaddbox{
    /* background-color: red; */
    width: fit-content;
    margin-left: 55px;
}

#add_Expenses{
    margin: 15px auto;
    width: 150px;
    height: 40px;
    font-size: 15px;
}

table{
    /*background-color: yellow;*/
    width: 100%;
    border-collapse: collapse;
}

tbody{
    text-align: center;
}

.header {
    height: 30px;
    border:1px solid rgb(225, 183, 160);
    margin: 0;
    color: rgb(250, 243, 231);
    background-color: rgb(187, 137, 109);
}

.bodyRow{
    border:1px solid rgb(225, 183, 160);
    height: 30px;
}

.Cell{
    border:1px solid rgb(225, 183, 160);
}

th{
    /*background-color: gray;*/
    border: 1px solid gray;
}

.btnHeaderCell{
    width: 100px;
}

.del{
    margin-right: 100%;
}

.delBtn{
    background-color: rgb(137, 67, 26);
}
.resultRows{
    background: lightgray;
    color: black;

}

td{
    border: 1px solid gray;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}